@import url(./global.css);

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-black);
  padding: 10px 0px;
}

.nav-header ul{
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-header a{
  text-decoration: none;
  color: var(--color-gray1);
  font-size: var(--font-text1);
  transition: 0.3s;
}

.nav-header a:hover{
  color: rgb(102, 101, 101);
}

#active-header{
  color: var(--color-white);
}

#active-header:hover{
  color: rgb(196, 193, 193);
}

.signup-header{
  display: flex;
  gap: 16px;
  align-items: center;
}

.signup-header a{
  text-decoration: none;
}

.login-header{
  color: var(--color-white);
  font-size: var(--font-text1);
  transition: 0.3s;
}

.login-header:hover{
  color: rgb(196, 193, 193);
}

.tryforfree-header{
  padding: 8px 24px;
  border-radius: 40px;
  background-color: var(--color-green);
  color: var(--color-black);
  font-size: var(--font-text1);
  transition: 0.3s;
}

.tryforfree-header:hover{
  background-color: #72b82c;
}

main{
  display: flex;
  justify-content: space-around;
  background-color: var(--color-black);
  padding: 60px 0px;
}

.main-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.span-active {
    display: inline-flex !important;
    align-items: center !important;
    width: fit-content !important;
    gap: 8px;
    padding: 10px 12px;
    border: 1px solid var(--color-gray1);
    border-radius: 24px;
}

.span-active p {
  width: auto !important;
}

.main-content h1{
  font-size: var(--font-title1);
  font-weight: bold;
  width: 521px;
  color: var(--color-white);
}

.main-content p{
  font-size: var(--font-subtitle);
  font-weight: 140%;
  color: var(--color-gray1);
  width: 583px;
}

.nav-main{
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-started{
  background-color: var(--color-green);
  padding: 14px 24px;
  border-radius: 40px;
  color: var(--color-black);
  font-size: var(--font-button);
  text-decoration: none;
  transition: 0.5s;
}

.btn-started:hover{
  background-color: #6bc017;
  transform: scale(1.03);
}

.btn-watch{
  display: flex;
  gap: 6px;
  align-items: center;
  border: 1.5px solid var(--color-gray1);
  text-decoration: none;
  padding: 14px 24px;
  font-size: var(--font-button);
  border-radius: 40px;
  transition: 0.5s;
}

.btn-watch:hover{
  background-color: rgb(29, 29, 29);
  transform: scale(1.03);
}

.btn-watch p{
  text-decoration: none;
  width: fit-content;
  color: var(--color-white);
}

.section-partners{
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--color-gray4);
  padding: 40px;
}

.section-partners h2{
  display: flex;
  justify-content: center;
  color: var(--color-gray1);
  font-size: var(--font-text1);
}

.logos-partners{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.section-features{
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px;
  background-color: var(--color-black);
}

.section-features-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-features-content p{
  font-size: var(--font-button);
  color: var(--color-gray1);
  font-family: var(--font-tittle);
  width: 572px;
  font-weight: 140%;
  text-align: center;
}

.section-features-cards{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.features-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 48px 36px;
  width: 410px;
  background-color: var(--color-gray4);
  border: 1px solid var(--color-gray1);
  border-radius: 12px;
}

.features-card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.features-card-content h3{
  font-family: var(--font-tittle);
  font-size: var(--font-subtitle);
  color: var(--color-white);
  font-weight: 400;
}

.features-card-content p{
  font-size: var(--font-text1);
  color: var(--color-gray1);
  text-align: center;
}


.section-statistics{
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0px;
  background-color: var(--color-gray4);
}

.section-statistics-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-statistics-content p{
  text-align: center;
  width: 644px;
}


.statistics-users{
  display: flex;
  justify-content: center;
  gap: 72px;
  text-align: center;
}

.statistics-users-content h3{
  color: var(--color-green);
  font-size: var(--font-tittle2);
}

.statistics-users-content p{
  font-size: var(--font-subtitle);
}

.section-feature{
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  gap: 60px;
  padding: 60px 0px;
}

.section-feature-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-feature-content p{
  width: 644px;
  text-align: center;
}

.section-feature-cards {
  display: grid;
  grid-template-columns: auto 624px;
  column-gap: 200px;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

.feature-image {
  grid-column: 1;
  grid-row: 1 / 4;
}

.feature-card-content {
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 24px;
  width: 624px;
  padding: 30px 20px;
  background-color: var(--color-gray4);
  border: 1px solid var(--color-gray1);
  border-radius: 20px;
}

.card-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-content h3{
  color: var(--color-white);
  font-weight: 400;
}

.section-faq{
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--color-gray4);
  padding: 60px 0px;
}

.section-faq-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section-faq-content p{
  width: 644px;
  text-align: center;
}

.section-faq-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-card{
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border: 1px solid var(--color-gray3);
  width: 792px;
  transition: 0.3s;
}

.faq-card:hover{
  transform: scale(1.05);
}

.faq-card p{
  color: var(--color-white);
  font-size: var(--font-text1);
  font-weight: 400;
}

.img-faq-card{
  transition: 0.5s;
}

.img-faq-card:hover{
  transform: scale(1.03);
}

.section-revolucionary{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--color-black);
  padding: 60px 0px;
}

.section-revolucionary h2{
  width: 878px;
}

.section-revolucionary p{
  width: 644px;
}

.btn-get{
  background-color: var(--color-green);
  padding: 14px 24px;
  text-decoration: none;
  font-size: var(--font-button);
  color: var(--color-black);
  transition: 0.5s;
}

.btn-get:hover{
  background-color: #6bc017;
}